<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <!-- ======================================================
       GŁÓWNE MENU MODUŁU
       ====================================================== -->
  <menuitem id="menu_xml_export_root"
            name="XET Provider"
            sequence="10"
			web_icon="hfb_xmlmap_exporter,static/description/icon.png"
            groups="base.group_user"/>

  <!-- ======================================================
       SZABLONY
       ====================================================== -->
  <menuitem id="menu_xml_export_templates"
            name="📑 Szablony"
            parent="menu_xml_export_root"
            sequence="10"
            action="action_xml_export_templates"
            groups="base.group_user"/>

  <menuitem id="menu_xml_export_wizards"
            name="✨ Kreatory"
            parent="menu_xml_export_root"
            sequence="20"
            groups="base.group_user"/>

  <menuitem id="menu_xml_template_name_wizard"
            name="💠 Konwersja XSD → XET"
            parent="menu_xml_export_wizards"
            sequence="10"
            action="action_xml_template_name_wizard"
            groups="base.group_user"/>

  <!-- Logi eksportu/importu -->
  <menuitem id="menu_communication_logs"
            name="♻️  Logi komunikacji"
            parent="menu_xml_export_root"
            sequence="30"
            action="action_communication_logs"
            groups="base.group_system"/>

  <!-- ======================================================
       KONFIGURACJA
       ====================================================== -->
  <menuitem id="menu_xml_export_config"
            name="🦺 Konfiguracja"
            parent="menu_xml_export_root"
            sequence="30"
            groups="base.group_system"/>

  <!-- Dostawcy Usług -->
  <menuitem id="menu_communication_base"
			name="Dostawcy Usług"
			parent="menu_xml_export_config"
			sequence="15"
			action="action_communication_providers"/>

  <!-- Provider -->
  <menuitem id="menu_communication_provider"
            name="Konfiguracja Dostawców"
            parent="menu_xml_export_config"
            sequence="18"
            />

</odoo>
